%% vim: ts=4 sw=4 et ft=erlang
{sub_dirs, [
    "site", 
    "deps"
]}.

{require_otp_vsn, "R15|R16|17"}.

{cover_enabled, true}.

{erl_opts, [debug_info,
            fail_on_warning, 
            {parse_transform, lager_transform}

                      ]}.

{deps_dir, ["lib"]}.

{deps, [
    
        {webmachine,    "1.*",  {git, "git://github.com/basho/webmachine.git",  {tag, "1.10.6"}}},
        {lager, ".*", {git, "git@github.com:basho/lager.git"}},
        {oauth, ".*", {git, "https://github.com/tim/erlang-oauth.git"}},
        {erlog, ".*", {git, "git@github.com:zkessin/erlog.git"}},
        {uuid,  ".*", {git, "git@github.com:okeuday/uuid.git"}},
        {mixer, ".*", {git, "git@github.com:opscode/mixer.git"}},
        {parse_trans, ".*",
         {git, "git@code.voalte.net:voalte/parse_trans.git",
          {branch, "master"}}},
        {erlydtl, ".*",
         {git, "git@code.voalte.net:voalte/erlydtl.git", {branch, master}}},
        {jsx, ".*",
         {git, "git@code.voalte.net:voalte/jsx.git", {tag,"v2.0.1"}}},
        {seqbind, ".*",
         {git, "git@code.voalte.net:voalte/seqbind.git", {branch,"voalte-master"}}},

        %% Uncomment the following lines and comment the bottom lines with specific
        %% tags to always pull the latest versions
        {nitrogen_core, ".*",   {git, "git://github.com/nitrogen/nitrogen_core",{branch, master}}},
        {nprocreg,      ".*",   {git, "git://github.com/nitrogen/nprocreg",     {branch, master}}},
        {simple_bridge, ".*",   {git, "git://github.com/nitrogen/simple_bridge",{branch, master}}},
        {sync,          ".*",   {git, "git://github.com/rustyio/sync",          {branch, master}}},
        {proper,        ".*",   {git, "git@github.com:manopapad/proper.git",    {branch, master}}}
    %% Get specific tagged version
                                                %{nitrogen_core, ".*",   {git, "git://github.com/nitrogen/nitrogen_core",{tag, "v2.2.2"}}},
                                                %{nprocreg,      ".*",   {git, "git://github.com/nitrogen/nprocreg",     {tag, "v0.2.1"}}},
                                                %{simple_bridge, ".*",   {git, "git://github.com/nitrogen/simple_bridge",{tag, "v1.4.0"}}},
                                                %{sync,          ".*",   {git, "git://github.com/rustyio/sync",          "a8366be73244383c07f9cafe30b72e83f3ad0621"}}
       ]}.
{cover_enabled,         false}.
{cover_export_enabled,  false}.
{cover_print_enabled,   false}.
